include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include btms_ui *.qss
recursive-exclude btms_ui *.ui *.png

include versioneer.py
include btms_ui/version.py

# If including data files in the package, add a single file/glob:
#
# include path/to/data_file
#
# Or multiple recursively:
# recursive-include path file*glob1* file*glob*2
